<h2 class="text-center">Register</h2>
<div class="form-group">
  <span class="input-group-addon no-round-border">Username</span>
  <input type="text" class="form-control no-round-border" placeholder="Type text here..." id="username" [(ngModel)]="user.username" required>
</div>
<div class="form-group">
  <span class="input-group-addon no-round-border">Password</span>
  <input type="password" class="form-control no-round-border" placeholder="Type text here..." id="password" [(ngModel)]="user.password" required>
</div>
<button type="submit" class="btn btn-success no-round-border" (click)="register(this.user)" [disabled]="user.username =='' || user.password ==''">Submit</button>