<mat-form-field>
  <input matInput [(ngModel)]="search" (keyup)="filterTask($event.target.value)" placeholder="Type to filter..."/>
  <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
    <mat-icon>close</mat-icon>
  </button>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="title" (keyup)="addTaskEvent($event)" placeholder="Type text to add..."/>
  <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-button [disabled]="!title" matSuffix mat-icon-button aria-label="Add Task" (tap)="addTaskTap()">
    <mat-icon matSuffix>playlist_add</mat-icon>
  </button>
</mat-form-field>

<table mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="done">
    <th mat-header-cell *matHeaderCellDef> DONE </th>
    <td mat-cell *matCellDef="let task">
      <mat-checkbox [checked]="task.isDone"  (change)="updateTask(task, $event)"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> TASK </th>
    <td mat-cell *matCellDef="let task"> {{task.title}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let task">
      <button mat-raised-button color="warn" (click)="deleteTask(task._id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true">
</mat-paginator>
