<table class="table table-bordered">
  <thead class="thead-inverse">
  	<tr>
      <th>{{title}}</th>
			<input type="hidden" [(ngModel)]="title">
    </tr>
  </thead>
</table>
<app-tasks></app-tasks>
