/* You can add global styles to this file, and also import other style files */
/* app css stylesheet */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 2.5%;
	font-family: monospace;
	font-size: 1em;
}

tr > th, tr > td {
	text-align: center;
}
